@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Teko:wght@300..700&display=swap');

/* Reset CSS */

/* https://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: none;
}

:root {
  --titles-font: 'Sharpie-Extrabold', sans-serif;
  --links-font: 'Ranade-LightItalic', sans-serif;
  --primary-font: 'Ranade-Regular', serif;
  --primary-color: #f43049;
  --secondary-color: #179aff;
  --third-color: #fedc00;
  --background-color: #f5f2ea;
  --text-color: #1a1f3b;
}

body {
  font-family: var(--font-source);
  color: var(--text-color);
}

#inner-cursor,
#outer-cursor {
  pointer-events: none;
}

#inner-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  left: 10px;
  color: #000;
  mix-blend-mode: normal;
  transform: translate(-50%, -50%);
  background-color: var(--text-color); /* Cambia el color aquí */
  border-radius: 50%;
  pointer-events: none; /* para que no interfiera con clicks */
  z-index: 9999;
  transition: width 0.5s, height 0.5s;
}

#outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--text-color); /* Cambia el color aquí */
  mix-blend-mode: normal;
  border-radius: 50%;
  pointer-events: 0.1ms;
  z-index: 9999;
  transition: 0.1s;
}
