---
import './PersonalSection.css';
---

<div class="about-section">
  <div class="about-section-container">
    <div class="about-description">
      Holaa. Actualmente soy estudiante de Ingeniería Multimedia en la
      Universidad de Alicante y apasionado por el desarrollo web. Combino mi
      formación técnica con mi gusto por el deporte, especialmente el judo, el
      cual me aporta valores que aplico diariamente en mi formación como
      ingeniero.
    </div>
  </div>
</div>
