.window-toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
  z-index: 1000;
  top: 50dvh;
  left: 20px;
  cursor: pointer;
}

.window-toolbar__circle {
  padding: 0 4px;
}

.window-toolbar__dot {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.window-toolbar__dot--active {
  background-color: var(--primary-color);
}
.window-toolbar__dot--inactive {
  background-color: var(--secondary-color);
}

.window-toolbar__dot:hover {
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
}
