---
import './ScrollIndicator.css';
---

<div class="window-toolbar">
  <div class="window-toolbar__circle">
    <span class="window-toolbar__dot window-toolbar__dot--red"></span>
  </div>
  <div class="window-toolbar__circle">
    <span class="window-toolbar__dot window-toolbar__dot--yellow"></span>
  </div>
  <div class="window-toolbar__circle">
    <span class="window-toolbar__dot window-toolbar__dot--green"></span>
  </div>
</div>
<div class="window-card__content"></div>
