---
import './Welcome.css';
import Linkdin from '@/components/Icons/Linkdin.astro';
import Whatsapp from '@/components/Icons/Whatsapp.astro';
---

<div class="welcome-container">
  <div class="welcome-container__img">
    <div
      style="width: 400px; height: 400px; background-color: #2563eb; border-radius: 0.5rem;"
    >
    </div>
    <img src="https://ibb.co/KxtNYTGJ" alt="" srcset="" />
    <p class="welcome-primary-text" id="welcome-text-1">Software</p>
    <p class="welcome-primary-text" id="welcome-text-2">Developer</p>
  </div>

  <div class="welcome-container-socials">
    <Whatsapp />
    <Linkdin />
  </div>
</div>
