.welcome-container {
  position: relative;
  background-color: var(--background-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding-top: 10em;
  padding-bottom: 5em;
}

/*Avoid intercation bug with patterns*/
.welcome-container > div {
  z-index: 5;
}

.welcome-container-image {
   user-select: none;
  margin-top: 0px;
}

.welcome-container-image__img {
  width: 20em;
  height: 20em;
  object-fit: cover;
}

.welcome-container-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: relative;
}

.welcome-primary-text {
  text-align: end;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 7rem;
  user-select: none;
  z-index: 3;
  margin: 0;
}

#welcome-text-firstname,
#welcome-text-middlename,
#welcome-text-lastname {
  line-height: 0.85;
}

#welcome-text-2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.8rem;
  font-family: var(--titles-font), sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
  border: 4px solid  var(--primary-color);
  padding: 0.6rem 0.5rem;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-transform: none;
  margin: 0;
}

.welcome-container-socials {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  margin-top: 5px;
  background: var(--background-color);
  padding: 0.6rem 0.5rem;
}

.cicles-pattern{
  position: absolute;
  z-index: 2;
  top: -35px;
  left: -105px;
}

.sleve-object{
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 5em;
}

.top-right-menu {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 10;
}

.top-right-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu__link {
  font-family: var(--primary-font);
  color: #000;
  line-height: 2;
  position: relative;
  text-decoration: none;
  color: var(--text-color, #181d36);
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  transition: color 0.2s;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--third-color);
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .4s;
}

.menu__link:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  
  
  .top-right-menu {
    display: none;
  }

  .welcome-container {

    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 5em;
    padding-bottom: 2em;
  }


  .welcome-primary-text {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
  }

  #welcome-text-firstname,
  #welcome-text-middlename,
  #welcome-text-lastname {
    flex: 0 0 100%;
    text-align: center;
  }

  #welcome-text-2 {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 0.706rem;
    font-family: var(--titles-font), sans-serif;
    color: var(--primary-color);
    background: var(--background-color);
    border: 3px solid var(--primary-color);
    padding: 0.5rem 0.4rem;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 85px;
    margin-left: 180px;
  }

  .welcome-container-image__img {
    width: 15em;
    height: 15em;
  }

  .welcome-container-socials {
    flex: 0 0 100%;
    justify-content: center;
    background: transparent;
    padding: 0;
    margin: 10px 0 0 0;
    gap: 15px;
  }

  .cicles-pattern {
    width: 100%;
    height: 100%;
    left:-80px;
    top: -125px;
  }

  .sleve-object {
    display: none;
  }

    .welcome-container-text {
    margin-right: 30px;
  }
}

@media (max-width: 480px) {

}