.welcome-container {
  position: relative;
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/*Avoid intercation bug with patterns*/
.welcome-container > div {
  z-index: 5;
}

.welcome-container-image {
  margin-top: 0px;
}

.welcome-container-image__img {
  width: 30em;
  height: 30em;
  object-fit: cover;
  
  
}

.welcome-container-text{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  position: relative;
}

.welcome-primary-text {
  text-align: end;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--titles-font), sans-serif;
  font-weight: 700;
  font-size: 7rem;
  letter-spacing: -0.02em;
  user-select: none;
  z-index: 3;
  margin: 0;
}


#welcome-text-firstname {
  font-size: 11rem;
}

#welcome-text-middlename {
  font-size: 9rem;
}

#welcome-text-lastname {
  font-size: 7rem;
}

#welcome-text-firstname,
#welcome-text-middlename,
#welcome-text-lastname {
  line-height: 0.85;   /* Junta más las líneas */
}


#welcome-text-2 {
  height: 30em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1rem; /* Ajusta según tu diseño */
  font-family: var(--titles-font), sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
  border: 4px solid  var(--primary-color);
  padding: 0.6rem 0.5rem;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}



.welcome-container-socials {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  margin-top: 5px;
  background: var(--background-color);
  padding: 0.6rem 0.5rem;

}

.cicles-pattern{
  position: absolute;
  z-index: 2;
  top: -35px;
  left: -105px;


}


.sleve-object{
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 5em;
}


.top-right-menu {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
}

.top-right-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu__link {
  font-family: var(--primary-font);
  color: #000;
  line-height: 2;
  position: relative;
  text-decoration: none;
  color: var(--text-color, #181d36);
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  transition: color 0.2s;
}

